<h2>Note moyenne pour {{ job.job_title }}</h2>
<p>
    Moyenne : {{ average|default:"Aucune note" }}/5
</p>
<a href="{% url 'feedback:feedback_list' job.id %}">Voir les feedbacks</a>
 <style>
        body { font-family: Arial, sans-serif; padding: 2rem; background-color: #181818; }
        h1, h2, p { color: #f3f3f3; }
        ul { list-style: none; padding: 0; }
        li { margin: 1rem 0; }
        a { text-decoration: none; color: #007BFF; font-size: 1.1rem; }
        a:hover { text-decoration: underline; }
    </style>