<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil Feedback</title>
</head>
    <style>
        body { font-family: Arial, sans-serif; padding: 2rem; background-color: #181818; }
        h1 { color: #f3f3f3; text-align: center; }
        h1, li { color: #f3f3f3; }
        ul { list-style: none; padding: 0; }
        li { margin: 1rem 0; }
        a { text-decoration: none; color: #007BFF; font-size: 1.1rem; }
        a:hover { text-decoration: underline; }
    </style>
<body>
    <h1>Job - FeedBack</h1>
    <ul>
        {% for job in jobs %}
            <li>
                {{ job.job_title }} —
                <a href="{% url 'feedback:feedback_list' job.id %}">Voir feedbacks</a>
                |
                <a href="{% url 'feedback:add_feedback' job.id %}">Ajouter feedback</a>
                |
                <a href="{% url 'feedback:average_rating' job.id %}">Moyenne</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
