<h2>Feedbacks pour {{ job.job_title }}</h2>
<form method="get">
    <label for="min">Note minimum :</label>
    <input type="number" name="min" id="min" value="{{ min_rating }}" min="1" max="5">
    <button type="submit">Filtrer</button>
</form>
<ul>
    {% for f in feedbacks %}
        <li>{{ f.author_name }} ({{ f.rating }}/5) : {{ f.comment }}</li>
    {% empty %}
        <li>Aucun feedback trouvé.</li>
    {% endfor %}
</ul>
<a href="{% url 'feedback:add_feedback' job.id %}">Ajouter un feedback</a>
<style>
        body { font-family: Arial, sans-serif; padding: 2rem; background-color: #181818; }
        h1,h2, label{ color: #f3f3f3; }
        h1, li { color: #f3f3f3; }
        ul { list-style: none; padding: 0; }
        li { margin: 1rem 0; }
        a { text-decoration: none; color: #007BFF; font-size: 1.1rem; }
        a:hover { text-decoration: underline; }
    </style>